In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import DataFrame, Series
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

pd.set_option('display.max_rows', 30000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
df_test = pd.read_csv('data/df_test.csv')
print(np.shape(df_test))
df_test.tail()

(11456, 9)

       Unnamed: 0     ID   Name             DateTime AnimalType SexuponOutcome AgeuponOutcome                   Breed      Color
11451       11451  11452    NaN  2014-07-08 14:50:00        Cat  Neutered Male       2 months  Domestic Shorthair Mix      Black
11452       11452  11453    NaN  2014-10-21 12:57:00        Cat  Intact Female        2 weeks  Domestic Shorthair Mix       Blue
11453       11453  11454    NaN  2014-09-29 09:00:00        Cat  Intact Female         1 year  Domestic Shorthair Mix     Calico
11454       11454  11455  Rambo  2015-09-05 17:16:00        Dog  Neutered Male        6 years     German Shepherd Mix  Black/Tan
11455       11455  11456  Gusto  2014-07-12 18:40:00        Dog    Intact Male        4 years      Labrador Retriever      Cream

In [4]:
del df_test['Unnamed: 0']
df_test.tail()

          ID   Name             DateTime AnimalType SexuponOutcome AgeuponOutcome                   Breed      Color
11451  11452    NaN  2014-07-08 14:50:00        Cat  Neutered Male       2 months  Domestic Shorthair Mix      Black
11452  11453    NaN  2014-10-21 12:57:00        Cat  Intact Female        2 weeks  Domestic Shorthair Mix       Blue
11453  11454    NaN  2014-09-29 09:00:00        Cat  Intact Female         1 year  Domestic Shorthair Mix     Calico
11454  11455  Rambo  2015-09-05 17:16:00        Dog  Neutered Male        6 years     German Shepherd Mix  Black/Tan
11455  11456  Gusto  2014-07-12 18:40:00        Dog    Intact Male        4 years      Labrador Retriever      Cream

## Name (Binarize)

In [5]:
def Naming(x):
    if type(x) == float:
        return 0
    else:
        return 1

In [6]:
df_test['Name'] = df_test['Name'].transform(Naming)

In [7]:
df_test.tail()

          ID  Name             DateTime AnimalType SexuponOutcome AgeuponOutcome                   Breed      Color
11451  11452     0  2014-07-08 14:50:00        Cat  Neutered Male       2 months  Domestic Shorthair Mix      Black
11452  11453     0  2014-10-21 12:57:00        Cat  Intact Female        2 weeks  Domestic Shorthair Mix       Blue
11453  11454     0  2014-09-29 09:00:00        Cat  Intact Female         1 year  Domestic Shorthair Mix     Calico
11454  11455     1  2015-09-05 17:16:00        Dog  Neutered Male        6 years     German Shepherd Mix  Black/Tan
11455  11456     1  2014-07-12 18:40:00        Dog    Intact Male        4 years      Labrador Retriever      Cream

## Color (전처리)
- Color는 약 366종류로 다양하게 분포되어 있으며, 비슷하거나 mix된 경우도 많다. <br> 따라서 메인 색상(대표하는 색, 믹스된 경우 먼저 나온 색상을 사용)만을 남겨놓고 통합했다.<br><font color="blue">예시) 'Brown Tabby/White' --> 'Brown'</font><br>
- 그 결과 <font color="red">366종의 컬러를 25종으로</font> 줄일 수 있었다.

In [8]:
# 'A/B' = 'A'로 표기
def color_del(x):
    if '/' in x:
        x = x[0:x.index('/')]
        return x
    else:
        return x

In [9]:
df_test['Color_pre'] = df_test['Color'].copy()

In [10]:
df_test['Color_pre'] = df_test['Color_pre'].apply(color_del)

In [11]:
df_test.tail(3)

          ID  Name             DateTime AnimalType SexuponOutcome AgeuponOutcome                   Breed      Color Color_pre
11453  11454     0  2014-09-29 09:00:00        Cat  Intact Female         1 year  Domestic Shorthair Mix     Calico    Calico
11454  11455     1  2015-09-05 17:16:00        Dog  Neutered Male        6 years     German Shepherd Mix  Black/Tan     Black
11455  11456     1  2014-07-12 18:40:00        Dog    Intact Male        4 years      Labrador Retriever      Cream     Cream

In [12]:
# 대표 컬러로 통합
def color_union(x):
    if 'Black' in x:
        x = 'Black'
        return x
    elif 'Blue' in x:
        x = 'Blue'
        return x
    elif 'Red' in x:
        x = 'Red'
        return x
    elif 'Silver' in x:
        x = 'Silver'
        return x
    elif 'Brown' in x:
        x = 'Brown'
        return x
    elif 'Orange' in x:
        x = 'Orange'
        return x
    elif 'Cream' in x:
        x = 'Cream'
        return x
    elif 'Gray' in x:
        x = 'Gray'
        return x
    elif 'Calico' in x:
        x = 'Calico'
        return x
    elif 'Chocolate' in x:
        x = 'Chocolate'
        return x
    elif 'Tortie' in x:
        x = 'Tortie'
        return x
    elif 'Yellow' in x:
        x = 'Yellow'
        return x
    elif 'Liver' in x:
        x = 'Liver'
        return x
    else:
        return x

In [13]:
df_test['Color_pre'] = df_test['Color_pre'].apply(color_union)

In [14]:
# 40마리 이하인 색깔은 'etc'로 통합
df_test['Color_pre'] = df_test['Color_pre'].replace('Agouti', 'etc')
df_test['Color_pre'] = df_test['Color_pre'].replace('Apricot', 'etc')
df_test['Color_pre'] = df_test['Color_pre'].replace('Lilac Point', 'etc')
df_test['Color_pre'] = df_test['Color_pre'].replace('Pink', 'etc')
df_test['Color_pre'] = df_test['Color_pre'].replace('Ruddy', 'etc')

## AgeuponOutcome (단위 통일)
- 중구난방인 단위의 나이 데이터들을 모두 한 단위, day로 통일시켜 주었다.

In [15]:
def DayuponOutcome(age_str):
    num, unit = age_str.split(' ')
    if unit == 'day' or unit == 'days':
        return( int(num) )
    elif unit == 'week' or unit == 'weeks':
        return(int(num) * 7 )
    elif unit == 'month' or unit == 'months':
        return(int(num) * 30 )
    elif unit == 'year' or unit == 'years':
        return(int(num) * 365 )

In [16]:
df_test['DayuponOutcome'] = df_test['AgeuponOutcome'].copy()
df_test['DayuponOutcome'] = df_test['DayuponOutcome'].fillna('0 day')
df_test['DayuponOutcome'] = df_test['DayuponOutcome'].apply(DayuponOutcome)

In [17]:
df_test['AgeuponOutcome'].fillna('Unknown', inplace=True)

In [18]:
df_test['DayuponOutcome'].describe()

count    11456.000000
mean       775.254714
std       1073.313339
min          0.000000
25%         60.000000
50%        365.000000
75%       1095.000000
max       8030.000000
Name: DayuponOutcome, dtype: float64

In [19]:
def Age(x):
    if 0 < x < 730:
        return 2
    elif 731 < x < 1460:
        return 4
    elif 1461 < x < 2190:
        return 6
    elif 2191 < x < 2920:
        return 8
    elif 2921 < x < 3650:
        return 10
    elif 3651 < x < 4380:
        return 12
    elif 4381 < x < 5110:
        return 14
    elif 5111 < x < 5840:
        return 16
    elif 5841 < x < 6570:
        return 18
    else:
        return 20

In [20]:
df_test['AboutAge'] = df_test['DayuponOutcome'].copy()
df_test['AboutAge'] = df_test['AboutAge'].apply(Age)

## Breed (전처리)
- Mix는 별도의 컬럼으로 만들어 binarize(mix는 1, 순종은 0)

In [21]:
def BreedMix(x):
    if '/' in  x:
        return 1
    elif 'Mix' in x:
        return 1
    else:
        return 0

In [22]:
df_test['BreedMix'] = df_test['Breed'].apply(BreedMix)

In [23]:
def Nature_Breed(x):
    if '/' in x:
        x = x[0:x.index('/')]
        return x
    elif ' Mix' in x:
        x = x[0:-4]
        return x
    else:
        return x

In [24]:
df_test['Breed_pre'] = df_test['Breed'].copy()

In [25]:
df_test['Breed_pre'] = df_test['Breed_pre'].apply(Nature_Breed)

## - 2.6 AnimalType (Binarize)
- dog는 1, cat은 0

In [26]:
encoder = LabelEncoder()
df_test['AnimalType'] = encoder.fit_transform(df_test['AnimalType'])

## - 2.7 SexuponOutcome
- Nan값을 Unknown으로 처리

In [27]:
df_test['SexuponOutcome'].fillna("Unknown", inplace=True)

## - 2.8 AnimalID (string제거, 정수화)

In [28]:
df_test.tail()

          ID  Name             DateTime  AnimalType SexuponOutcome AgeuponOutcome                   Breed      Color Color_pre  DayuponOutcome  AboutAge  BreedMix           Breed_pre
11451  11452     0  2014-07-08 14:50:00           0  Neutered Male       2 months  Domestic Shorthair Mix      Black     Black              60         2         1  Domestic Shorthair
11452  11453     0  2014-10-21 12:57:00           0  Intact Female        2 weeks  Domestic Shorthair Mix       Blue      Blue              14         2         1  Domestic Shorthair
11453  11454     0  2014-09-29 09:00:00           0  Intact Female         1 year  Domestic Shorthair Mix     Calico    Calico             365         2         1  Domestic Shorthair
11454  11455     1  2015-09-05 17:16:00           1  Neutered Male        6 years     German Shepherd Mix  Black/Tan     Black            2190        20         1     German Shepherd
11455  11456     1  2014-07-12 18:40:00           1    Intact Male        4 years      Labrador Retriever      Cream     Cream            1460        20         0  Labrador Retriever

In [29]:
df_test['ID'] = encoder.fit_transform(df_test['ID'])

In [30]:
df_test.tail()

          ID  Name             DateTime  AnimalType SexuponOutcome AgeuponOutcome                   Breed      Color Color_pre  DayuponOutcome  AboutAge  BreedMix           Breed_pre
11451  11451     0  2014-07-08 14:50:00           0  Neutered Male       2 months  Domestic Shorthair Mix      Black     Black              60         2         1  Domestic Shorthair
11452  11452     0  2014-10-21 12:57:00           0  Intact Female        2 weeks  Domestic Shorthair Mix       Blue      Blue              14         2         1  Domestic Shorthair
11453  11453     0  2014-09-29 09:00:00           0  Intact Female         1 year  Domestic Shorthair Mix     Calico    Calico             365         2         1  Domestic Shorthair
11454  11454     1  2015-09-05 17:16:00           1  Neutered Male        6 years     German Shepherd Mix  Black/Tan     Black            2190        20         1     German Shepherd
11455  11455     1  2014-07-12 18:40:00           1    Intact Male        4 years      Labrador Retriever      Cream     Cream            1460        20         0  Labrador Retriever

## -2.9 DateTime 전처리 및 분석

In [33]:
import re

def MakeYear(x):
    A = re.search(r'\d\d\d\d', str(x))
    return A.group()

def MakeMonth(x):
    A = re.search(r'-\d\d-', str(x))
    B = re.search(r'\d\d', str(A))
    return B.group()

def Integerize(x):
    x = int(x)
    return x

df_test['Year'] = df_test['DateTime'].apply(MakeYear)
df_test['Month'] = df_test['DateTime'].apply(MakeMonth)
df_test['YearMonth'] = df_test['Year'] + df_test['Month']
df_test['Year'] = df_test['Year'].apply(Integerize)
df_test['Month'] = df_test['Month'].apply(Integerize)
df_test['YearMonth'] = df_test['YearMonth'].apply(Integerize)

def MakeHour(x):
    A = re.search(r' \d\d:', str(x))
    B = re.search(r'\d\d', A.group())
    return B.group()

df_test['Hour'] = df_test['DateTime'].apply(MakeHour)
df_test['Hour'] = df_test['Hour'].apply(Integerize)

### 2.9.1 DateTime을 계절로 변환하여 추가

In [34]:
df_test['Season'] = df_test['Month'].copy()

In [35]:
df_test['Season'] = df_test['Season'].apply(Integerize)

In [36]:
def Seasonerize(x):
    if x == 12 or x == 1 or x == 2:
        return 'Winter'
    elif 2 < x < 6:
        return 'Spring'
    elif 5 < x < 9:
        return 'Summer'
    elif 8 < x < 12:
        return 'Automn'
    else:
        return 'Unknown'

In [37]:
df_test['Season'] = df_test['Season'].apply(Seasonerize)
df_test.tail()

          ID  Name             DateTime  AnimalType SexuponOutcome AgeuponOutcome                   Breed      Color Color_pre  DayuponOutcome  AboutAge  BreedMix           Breed_pre  Year  Month  YearMonth  Hour  Season
11451  11451     0  2014-07-08 14:50:00           0  Neutered Male       2 months  Domestic Shorthair Mix      Black     Black              60         2         1  Domestic Shorthair  2014      7     201407    14  Summer
11452  11452     0  2014-10-21 12:57:00           0  Intact Female        2 weeks  Domestic Shorthair Mix       Blue      Blue              14         2         1  Domestic Shorthair  2014     10     201410    12  Automn
11453  11453     0  2014-09-29 09:00:00           0  Intact Female         1 year  Domestic Shorthair Mix     Calico    Calico             365         2         1  Domestic Shorthair  2014      9     201409     9  Automn
11454  11454     1  2015-09-05 17:16:00           1  Neutered Male        6 years     German Shepherd Mix  Black/Tan     Black            2190        20         1     German Shepherd  2015      9     201509    17  Automn
11455  11455     1  2014-07-12 18:40:00           1    Intact Male        4 years      Labrador Retriever      Cream     Cream            1460        20         0  Labrador Retriever  2014      7     201407    18  Summer

### 2.9.2 DateTime을 분기로 변환하여 추가

In [38]:
df_test['Quarter'] = df_test['Month'].copy()

In [39]:
df_test['Quarter'] = df_test['Quarter'].apply(Integerize)

In [40]:
def Quarterize(x):
    if 0 < x < 4:
        return '1/4'
    elif 3 < x < 7:
        return '2/4'
    elif 6 < x < 10:
        return '3/4'
    elif 9 < x < 13:
        return '4/4'
    else:
        return 'Unknown'

In [41]:
df_test['Quarter'] = df_test['Quarter'].apply(Quarterize)
df_test.tail()

          ID  Name             DateTime  AnimalType SexuponOutcome AgeuponOutcome                   Breed      Color Color_pre  DayuponOutcome  AboutAge  BreedMix           Breed_pre  Year  Month  YearMonth  Hour  Season Quarter
11451  11451     0  2014-07-08 14:50:00           0  Neutered Male       2 months  Domestic Shorthair Mix      Black     Black              60         2         1  Domestic Shorthair  2014      7     201407    14  Summer     3/4
11452  11452     0  2014-10-21 12:57:00           0  Intact Female        2 weeks  Domestic Shorthair Mix       Blue      Blue              14         2         1  Domestic Shorthair  2014     10     201410    12  Automn     4/4
11453  11453     0  2014-09-29 09:00:00           0  Intact Female         1 year  Domestic Shorthair Mix     Calico    Calico             365         2         1  Domestic Shorthair  2014      9     201409     9  Automn     3/4
11454  11454     1  2015-09-05 17:16:00           1  Neutered Male        6 years     German Shepherd Mix  Black/Tan     Black            2190        20         1     German Shepherd  2015      9     201509    17  Automn     3/4
11455  11455     1  2014-07-12 18:40:00           1    Intact Male        4 years      Labrador Retriever      Cream     Cream            1460        20         0  Labrador Retriever  2014      7     201407    18  Summer     3/4

# Laber Encoding

In [42]:
encoder = LabelEncoder()

df_test['SexuponOutcome'] = encoder.fit_transform(df_test['SexuponOutcome'])
df_test['AgeuponOutcome'] = encoder.fit_transform(df_test['AgeuponOutcome'])
df_test['Breed'] = encoder.fit_transform(df_test['Breed'])
df_test['Color'] = encoder.fit_transform(df_test['Color'])
df_test['Color_pre'] = encoder.fit_transform(df_test['Color_pre'])
df_test['Breed_pre'] = encoder.fit_transform(df_test['Breed_pre'])
df_test['Year'] = encoder.fit_transform(df_test['Year'])
df_test['Month'] = encoder.fit_transform(df_test['Month'])
df_test['YearMonth'] = encoder.fit_transform(df_test['YearMonth'])
df_test['Season'] = encoder.fit_transform(df_test['Season'])
df_test['Quarter'] = encoder.fit_transform(df_test['Quarter'])
df_test['DateTime'] = encoder.fit_transform(df_test['DateTime'])

In [43]:
df_test.tail()

          ID  Name  DateTime  AnimalType  SexuponOutcome  AgeuponOutcome  Breed  Color  Color_pre  DayuponOutcome  AboutAge  BreedMix  Breed_pre  Year  Month  YearMonth  Hour  Season  Quarter
11451  11451     0      3303           0               2              19    407      4          0              60         2         1         79     1      6          9    14       2        2
11452  11452     0      4748           0               0              20    407     33          1              14         2         1         79     1      9         12    12       0        3
11453  11453     0      4498           0               0               5    407    102          4             365         2         1         79     1      8         11     9       0        2
11454  11454     1      8556           1               2              38    439     28          0            2190        20         1         94     2      8         23    17       0        2
11455  11455     1      3377           1               1              31    541    118          6            1460        20         0        115     1      6          9    18       2        2

In [45]:
import xgboost

df_pre = pd.read_csv('data/df_pre.csv')
del df_pre['Unnamed: 0']

from imblearn.combine import *
columns = ['Name', 'DateTime', 'AnimalType', 'SexuponOutcome', 'DayuponOutcome', 'Breed', 'Color', 'BreedMix','Hour']

df_x = df_pre[columns]
df_y = df_pre.iloc[:, [3]]

import xgboost
from sklearn.metrics import *

model_xgb = xgboost.XGBClassifier(n_estimators=200, max_depth=6, learning_rate=0.05)
model_xgb.fit(df_x, df_y)

/home/dockeruser/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/dockeruser/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.05, max_delta_step=0, max_depth=6,
       min_child_weight=1, missing=None, n_estimators=200, nthread=-1,
       objective='multi:softprob', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [46]:
test_X = df_test[['Name', 'DateTime', 'AnimalType', 'SexuponOutcome', 'DayuponOutcome', 'Breed', 'Color', 'BreedMix','Hour']]

In [47]:
pred_y = model_xgb.predict_proba(test_X)

In [48]:
submit_xgbc = pd.DataFrame(pred_y, columns=['Adoption', 'Died', 'Euthanasia', 'Return_to_owner', 'Transfer'])
id_index =  pd.DataFrame([{"ID": (i+1)} for i, _ in enumerate(pred_y)])
submit_xgbc = pd.concat([id_index, submit_xgbc], axis=1)

In [49]:
submit_xgbc.tail()

          ID  Adoption      Died  Euthanasia  Return_to_owner  Transfer
11451  11452  0.687479  0.003058    0.016038         0.013604  0.279821
11452  11453  0.001389  0.015374    0.029891         0.005083  0.948264
11453  11454  0.007472  0.037477    0.068188         0.005572  0.881290
11454  11455  0.419511  0.001822    0.030232         0.458414  0.090021
11455  11456  0.059916  0.003576    0.115538         0.564832  0.256138

In [50]:
submit_xgbc.to_csv('data/171117_teamOUTLIERS_submit38.csv', index=False)

In [ ]:
df_test.tail()