In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import *
from sklearn.svm import SVC
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 30000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
df= pd.read_csv('c://dss6_out/@main@/data/df_pre.csv')

In [4]:
df.tail(20)

       Unnamed: 0  AnimalID  Name  DateTime  OutcomeType OutcomeSubtype  AnimalType  SexuponOutcome  AgeuponOutcome  Breed  Color  Color_pre  DayuponOutcome  AboutAge  BreedMix  Breed_pre  Year  Month  YearMonth  Season  Quarter  Group  Size
26709       26709     24214     0     19904            0            NaN           1               3               2    450    255         15              30         2         1         61     2      9         24       0        3      6     3
26710       26710     14457     1     11034            4        Partner           1               0               2    490    114          2              30         2         1         61     1     10         13       0        3      6     3
26711       26711      3159     1       843            4        Partner           1               0               5    522    131          3             365         2         1         65     0      9          0       0        3      4     9
26712       26712       367     1     14368            3            NaN           1               2              10   1169    163          5            4380        20         0        170     2      3         18       1        1      5     9
26713       26713      5168     0      2896            2      Suffering           0               0              16    632    296         20            6570        20         1         78     1      0          3       3        0     10     7
26714       26714      8183     1      5945            0            NaN           0               3              19    640    216         13              60         2         1         80     1      4          7       1        1      8     5
26715       26715     21719     1     17702            0            NaN           1               3              19   1116     38          0              60         2         1        163     2      7         22       2        2      4     2
26716       26716     16387     1     14669            0        Offsite           1               2              19    998    320         22              60         2         1        140     2      4         19       1        1      7     0
26717       26717       305     1      6835            3            NaN           1               3              43    361      5          0            3285        10         1         50     1      5          8       2        1      7     0
26718       26718     17947     0     14569            0            NaN           1               2              19   1262     37          0              60         2         1        185     2      3         18       1        1      7     2
26719       26719     21313     0     17239            4           SCRP           0               4              21    640    111          2             730        20         1         80     2      6         21       2        2      8     5
26720       26720     19586     1     17097            0            NaN           0               3              19    640    104          2              60         2         1         80     2      6         21       2        2      8     5
26721       26721      1918     1      7446            0         Foster           0               3              34    640      5          0            1825         6         1         80     1      6          9       2        2      8     5
26722       26722     11894     0      8809            4           SCRP           0               1              32    640    216         13             150         2         1         80     1      7         10       2        2      8     5
26723       26723     25290     1     22400            0            NaN           1               2              37   1291     86          1            2190        20         1        196     3      0         27       3        0     12     9
26724       26724     18631     0     14983            4        Partner           0               1               2    640    111          2              30         2         1         80     2      4         19       1        1      8     5
26725       26725     26055     0     22209            4           SCRP           0               3              24    640    104          2              90         2         1         80     3      0         27       3        0      8     5
26726       26726     16731     1     13463            0            NaN           1               2              30   1022    353         22            1460        20         1        147     2      2         17       1        0     12     9
26727       26727      7450     0      5074            4        Partner           0               1              29    640      5          0              28         2         1         80     1      3          6       1        1      8     5
26728       26728     20751     0     16611            4           SCRP           0               1               5    640    111          2             365         2         1         80     2      6         21       2        2      8     5

In [5]:
del df['Unnamed: 0']

In [6]:
df.tail()

       AnimalID  Name  DateTime  OutcomeType OutcomeSubtype  AnimalType  SexuponOutcome  AgeuponOutcome  Breed  Color  Color_pre  DayuponOutcome  AboutAge  BreedMix  Breed_pre  Year  Month  YearMonth  Season  Quarter  Group  Size
26724     18631     0     14983            4        Partner           0               1               2    640    111          2              30         2         1         80     2      4         19       1        1      8     5
26725     26055     0     22209            4           SCRP           0               3              24    640    104          2              90         2         1         80     3      0         27       3        0      8     5
26726     16731     1     13463            0            NaN           1               2              30   1022    353         22            1460        20         1        147     2      2         17       1        0     12     9
26727      7450     0      5074            4        Partner           0               1              29    640      5          0              28         2         1         80     1      3          6       1        1      8     5
26728     20751     0     16611            4           SCRP           0               1               5    640    111          2             365         2         1         80     2      6         21       2        2      8     5

In [7]:
columns = ['Name','DateTime','AnimalType','SexuponOutcome','AgeuponOutcome','Breed','Color','Color_pre','DayuponOutcome','AboutAge',
           'BreedMix','Breed_pre','Year','Month','YearMonth','Season','Quarter','Group','Size']

In [8]:
df_X = pd.DataFrame(data = df , columns = columns )

In [9]:
df_y = pd.DataFrame(data = df , columns = ['OutcomeType'])

['Name', 'Color_pre', 'DayuponOutcome', 'BreedMix', 'Breed_pre', 'YearMonth', 'Group']

In [10]:
column=['Name', 'Color_pre', 'DayuponOutcome', 'BreedMix', 'Breed_pre', 'YearMonth', 'Group']

df_X = pd.DataFrame(data = df , columns = column)

X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size=0.2, random_state=0 , shuffle = True)

In [11]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(21383, 7)
(21383, 1)
(5346, 7)
(5346, 1)

In [12]:
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [13]:
%%time
polysvc = SVC(kernel="poly",probability=True).fit(X_train_std, y_train)

Wall time: 5min 33s

In [14]:
%%time
rbfsvc = SVC(kernel="rbf",probability=True).fit(X_train_std, y_train)

Wall time: 2min 24s

In [15]:
%%time
sigmoidsvc = SVC(kernel="sigmoid",probability=True).fit(X_train_std, y_train)

Wall time: 3min 42s

In [16]:

poly_probs = polysvc.predict_proba(X_test_std)
rbf_probs = rbfsvc.predict_proba(X_test_std)
sigmoid_probs = rbfsvc.predict_proba(X_test_std)

In [17]:
print('train score: {}'.format(polysvc.score(X_train_std, y_train)))
print('test score: {}'.format(polysvc.score(X_test_std, y_test)))
print('log loss: {}'.format(log_loss(y_test,poly_probs)))
print()

train score: 0.5524949726418182
test score: 0.5493827160493827
log loss: 1.0865433907676147

In [18]:
print('train score: {}'.format(rbfsvc.score(X_train_std, y_train)))
print('test score: {}'.format(rbfsvc.score(X_test_std, y_test)))
print('log loss: {}'.format(log_loss(y_test, rbf_probs)))
print()

train score: 0.5658233175887387
test score: 0.558361391694725
log loss: 1.0612157750261797

In [19]:
print('train score: {}'.format(sigmoidsvc.score(X_train_std, y_train)))
print('test score: {}'.format(sigmoidsvc.score(X_test_std, y_test)))
print('log loss: {}'.format(log_loss(y_test, sigmoid_probs)))
print()

train score: 0.41079362110087453
test score: 0.4074074074074074
log loss: 1.0612157750261797